header {
    position: relative;
    color: #ffffff;
    background-color: #fff4c7;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
    height: 400px;
    width: 100%;
    z-index: 9;
    
    font-family: "source sans pro";
}
    header div img {
        height:  200px;  
        margin-top: 120px;
           
          
        
    }
header div h2 {
    margin-top:0;
    padding:0;
    
}